<div class="container">
    <div class="bs-example">
        <div class="alert alert-{{ level }}">
            <a href="#" data-dismiss="alert"></a>
            <strong>Oops!</strong> {{ message }}
        </div>
    </div>
</div>

