{% extends "AppBundle:FrontendLayout:base.html.twig" %}

{% block title %}Debosselage | Pare-brise | R&eacute;novation Optiques - Avignon 84 Vaucluse{% endblock %}

{% block head %} {{ parent() }} {% endblock %}

{% block description %}
    <meta name="description"
          content="Service mobile de r&eacute;paration automobile, pour les professionnels et particuliers : debosselage sans peinture, r&eacute;novation carrosserie et optiques, remplacement pare-brise sur Avignon et sa r&eacute;gion. ">
{% endblock %}

{% set sub_title = "<h1>Sur Avignon et sa r&eacute;gion
	<a href='../demande-devis'>demandez un devis</a>, c'est gratuit !
  </h1>" %}

{% set hide_sumup_title = false %}

{% block body %}

    {{ parent() }}

    <div class="container marger1">

        {#{% include "home/liste_services.html" with {'vars' : 'hide_sumup_title'} %}#}
    </div>


{% endblock %}


