{% extends "AppBundle:FrontendLayout:base.html.twig" %}

{% block title %}Debosselage | Pare-brise | R&eacute;novation Optiques - Avignon 84 Vaucluse{% endblock %}

{% block head %} {{ parent() }} {% endblock %}

{% block description %}
    <meta name="description"
          content="Service mobile de r&eacute;paration automobile, pour les professionnels et particuliers : debosselage sans peinture, r&eacute;novation carrosserie et optiques, remplacement pare-brise sur Avignon et sa r&eacute;gion. ">
{% endblock %}


{% block body %}

    {{ parent() }}
    {% block header %}
        {% embed 'AppBundle:FrontendLayout:header.html.twig' %}
            {% block subtitle %}
                <h1>Sur Avignon et sa r&eacute;gion
                    <a href="{{ path('quotation_request') }}">demandez un devis</a>, c'est gratuit !
                </h1>
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block content %}
        <div class="container marger1">

            {#{% include "home/liste_services.html" with {'vars' : 'hide_sumup_title'} %}#}
        </div>
    {% endblock %}

{% endblock %}


