{% extends "AppBundle:FrontendLayout:base.html.twig" %}

{% block title %}AppBundle:Frontend:partners{% endblock %}

{% block body %}
    <h1>Welcome to the Frontend:partners page</h1>
{% endblock %}
