{% extends "AppBundle:FrontendLayout:base.html.twig" %}

{% block title %}AppBundle:Frontend:qualityCharter{% endblock %}

{% block body %}
    <h1>Welcome to the Frontend:qualityCharter page</h1>
{% endblock %}
