{% extends "AppBundle:FrontendLayout:base.html.twig" %}


{% block head %} {{ parent() }} {% endblock %}

{% block body %}

    {{ parent() }}

    {% block content %}
        <div class="container">
            {{ form(form) }}
        </div>

    {% endblock %}
{% endblock %}

