<div style="width:800px;">
<h2 class="well well-small">Les &eacute;tapes de la r&eacute;novation d'optiques: pon&ccedil;ages, lustrage</h2>
<iframe width="800" height="600"
        src="http://www.youtube.com/embed/ikJR-l3tPd4?rel=0" frameborder="0" allowfullscreen>
        </iframe>
</div>
