{# base.html.twig #}
<html lang="fr">
    <head></head>
    <body>

        {%  block navbar %}<hr> nav bar foo bar<hr>{% endblock %}

        <!-- a default header -->
        {% block header %}
            <div style="border: 1px solid blue">
            {%  include 'AppBundle:TestingTwigUse:header.html.twig' %}
            </div>
        {% endblock %}

        {% block footer %}<hr>this a foooter{% endblock %}

    </body>
</html>