{% extends "AppBundle:Admin:base.html.twig" %}

{% block title %}AppBundle:Admin:index{% endblock %}

{% block body %}

    <div class="container">

        <div class="jumbotron">
            <h1>Tableau de bord</h1>

            {% for counter in metrics %}
                {% if counter.status == 0 %}
                    <p>Nombre de devis en cours : {{ counter.nb }}</p>
                {% endif %}
                {% if counter.status == 1 %}
                    <p>Nombre de devis à traiter : {{ counter.nb }}</p>
                {% endif %}
            {% endfor %}

        </div>

    </div>


{% endblock %}
