{% extends "::base.html.twig" %}

{% block title %}AppBundle:Admin:index{% endblock %}

{% block body %}

    <div class="container">

        <div class="jumbotron">
            <h1>Manager</h1>

            <p>Administration des services, facturation, gestion clientèlle.</p>
        </div>


        <a class="btn btn-primary" role="button" href="{{ path('admin_service') }}">
            Services
        </a>

    </div>


{% endblock %}
