{% extends '::base.html.twig' %}


{% block body -%}


<div class="container">

    <div class="page-header">
        <h1>Edition d'un service</h1>
    </div>

    {{ form(edit_form) }}


    <ul class="record_actions">
        <li>
            <a class="btn btn-default" role="button" href="{{ path('admin_service') }}">
                Retour à la liste
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>


</div>

{% endblock %}
