/* ###################################
      GLOBAL
###################################### */

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

/* ###################################
      BACKEND
###################################### */

ul.record_actions {
  float:right;
}

li {
  list-style-type: none;
}

/* ###################################
      FRONTEND
###################################### */

.navbar .nav > li > a:hover {
    color: #00afc7;
}

body h1 h2 ul li {
    color: #140D06;
}

.lead {
    font-size: 1.3em;
    padding-top: 5px;
}

h1 {
    font-size: 215%
}

h2 {
    font-size: 170%
}

a {
    color: #00afc7;
}

a:hover {
    color: #00afc7;
}

/* ### Floatting contact  ### */

#floatting-contact {
    background: none;
    /* text-align: center;*/
}

#floatting-contact img {
    padding: 0;
    /* margin-top: 12px*/
}

#floatting-contact h4 {
    font-size: 1.1em;
    font-weight: bold;
}

#floatting-contact p.phone {
    color: #00afc7;
}

#floatting-contact p.phone i {
    color: #777777;
    font-size: 60%;
}

.header-logo {
    background-image: url('../bundles/app/img/logo-autodom-baseline_100.png');
    background-repeat: no-repeat;
    padding: 120px 0px 0px 0px;
}

@media all and (max-width: 1024px) {
    .header-logo {
        background-image: url('../bundles/app/img/logo-autodom-baseline-small.png');
        padding: 100px 0px 0px 0px;
    }

    .navbar-social {
        display: none;
    }
}

.footer {
    padding: 15px 5px 15px 5px;
    text-align: center;
}

ul.services_goodies {
    margin: 0;
    padding: 13px 0 15px 15px;
    font-size: 1.1em;
}

li.puce {
    background-image: url('../bundles/app/img/puce.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding: 5px 0 5px 15px;
    font-size: 1.3em;
    list-style: none;
}

li.puce-normal {
    background-image: url('../bundles/app/img/puce.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding: 5px 0 5px 15px;
    list-style:none;
}

.carousel-inner {
    overflow: hidden
}

#myCarousel, #rennovCarousel {
    border: 1px gray solid
}

.img-partners {
    height: 100px;
    /*width: 200px;*/
    margin-bottom: 13px;
    border: 1px solid darkgray;
}

