<div class="container">
    <div class='row'>
        <div class="col-xs-5">
            <div class="well">
                {% block highlights %}{% endblock %}
                {% include "AppBundle:FrontBusinessService:carousel.html.twig" with {'display_comments': 'yes' } %}
            </div>
        </div>
        <div class="col-xs-7">
            {% block description %}{% endblock %}
        </div>
    </div>
</div>