<div class="services_highlights">
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Evitez un passage en carrosserie</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Conservez la peinture d'origine de votre véhicule</h4>
    <h4><span class="glyphicon glyphicon-ok-circle " aria-hidden="true"></span> R&eacute;duisez les co&ucirc;ts d'intervention.</h4>
</div>