<div class="services_highlights">
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color:#00afc7"></span> Aucun passage en carrosserie</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color:#00afc7"></span> Conservez la peinture d'origine</h4>
    <h4><span class="glyphicon glyphicon-ok-circle " aria-hidden="true" style="color:#00afc7"></span> Faible co&ucirc;ts d'intervention.</h4>
</div>