<ul class="services_goodies">
    <li class='puce'>Evitez un passage en carrosserie</li>
    <li class='puce'>Conservez la peinture d'origine de votre v&eacute;hicule.</li>
    <li class='puce'>R&eacute;duisez les co&ucirc;ts d'intervention.</li>
</ul>