<div class="services_highlights">
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Éclairage conforme</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Anticiper le contr&ocirc;le technique</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> &Eacute;conomisez un remplacement</h4>
</div>
