<ul class="services_goodies">
    <li class='puce'>Retrouvez un &eacute;clairage conforme</li>
    <li class='puce'>Evitez une contre-visite au contr&ocirc;le technique</li>
    <li class='puce'>&Eacute;conomisez un remplacement</li>
</ul>
