<div class="services_highlights">
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Pr&eacute;parez votre v&eacute;hicule &agrave; la vente</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Eliminez les d&eacute;fauts de surface</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Redonnez de l'&eacute;clat aux peintures d&eacute;polies</h4>
</div>
