<div class="services_highlights">
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Pr&eacute;paration à la vente</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Eliminez les d&eacute;fauts de surface</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Effet "poli-lustré" des peintures</h4>
</div>
