<div class="services_highlights">
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Retrouvez un &eacute;clairage conforme</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Evitez une contre-visite au contr&ocirc;le technique</h4>
    <h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> &Eacute;conomisez un remplacement</h4>
</div>
