<footer class="footer">
    <hr/>
    <p>Autodom : <a href="mailto:contact@autodom.biz">contact@autodom.biz</a> - SIRET : 53929605300017 - Cr&eacute;dits photos : © vgstudio - Fotolia.com</p>
</footer>