{% block header_body %}

    <div class="container page-header">
        <div class="row">
            <div class="col-md-6 header-logo">
                <p class='lead'>
                    {% block header_content %}
                        La carrosserie de votre v&eacute;hicule a subi un dommage, votre pare-brise est &agrave; remplacer, un phare est terni ? Contactez
                        <a title="Contacter Autodom par email."
                           href="mailto:contact@autodom.biz">Autodom
                        </a>,
                        service mobile pour professionnels et particuliers.
                    {% endblock %}
                </p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="well row" id='floatting-contact'>
                    <div class="col-md-7 col-xs-6">
                        <h4>Du lundi au samedi, <br/>de 9h00 &agrave; 18h00</H4>

                        <p class="lead phone">
                            <strong>0 770 997 151</strong><br/>
                            <i>(Num&eacute;ro non surtax&eacute;)</i>
                        </p>

                        <a title="Demande de devis débosselage, réparation, rénovation optiques et carrosserie."
                           class="btn btn-info" href="{{ app.request.baseUrl }}/demande-devis">
                            <i class="icon-envelope icon-white"></i>
                            demandez un devis
                        </a>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ asset('bundles/app/img/contact-autodom-vaucluse.jpg') }}"
                             alt="contact autodom vaucluse">
                    </div>
                </div>
            </div>

        </div>
        <h1>{% block subtitle %}{% endblock %}</h1>
    </div>

{% endblock %}