{%  block header_body  %}
<div class="container">
    <div class="page-header">
        <div class='row'>
            <div class="col-md-7">
                <a title="Autodom, réparation carrosserie et optique à domicile" href="{{ app.request.baseUrl }}/">
                    <img src="{{ asset('bundles/app/img/logo-autodom-baseline_100.png') }}"
                         alt="autodom reparation automobile a domicile">
                </a>

                <p class='lead'>
                {% block header_content %}

                        La carrosserie de votre v&eacute;hicule a subi un dommage, votre pare-brise
                        est &agrave; remplacer, un phare est terni ? Contactez <a title="Contacter Autodom par email."
                                                                                  href="mailto:contact@autodom.biz">Autodom</a>,
                        service mobile pour professionnels et particuliers.

                {% endblock %}
                </p>
            </div>

            <div class="well col-md-4 pull-right" id='floatting-contact'>
                <div class="" style="float:left">
                    <h4>Du lundi au samedi, <br/>de 9h00 &agrave; 18h00</H4>

                    <p class="lead phone">
                        <strong>0 770 997 151</strong><br/>
                        <i>(Num&eacute;ro non surtax&eacute;)</i>
                    </p>

                    <a title="Demande de devis débosselage, réparation, rénovation optiques et carrosserie."
                       class="btn btn-info" href="{{ app.request.baseUrl }}/demande-devis">
                        <i class="icon-envelope icon-white"></i>
                        demandez un devis
                    </a>
                </div>
                <div id="floatting-image">
                    <img src="{{ asset('bundles/app/img/contact-autodom-vaucluse.jpg') }}"
                         alt="contact autodom vaucluse">
                </div>

            </div>
        </div>
        <h1>{% block subtitle %}{% endblock %}</h1>
    </div>
</div>
{%  endblock %}