
{% set lead_title = 'partenaires/leadtitle.html'%}

{% set sub_title = "<h1>Les partenaires Autodom : un r&eacute;seau qualit&eacute;</h1>" %}

{% block content %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{{ parent() }}

<div class="container">

 {% include "header.html" with {'vars' : 'sub_title'} %}

    <div class="row-fluid">
        <ul class="thumbnails">
            <div class="col-xs-3 thumbnail" style="background-image:url({{ app.request.basepath }}/img/bg_main.jpg);padding:15px">
                <a href="http://www.mtb84.com">
                    <img height=111 src='{{ app.request.basepath }}/img/partenaires/logo-partenaire-mtb84.png'/>
                </a>

                <div class='caption' style="color:#FFFFFF">
                        <h4>Reprogrammation moteur</h4>

                        <p>
                            <a href="http://www.mtb84.com"><strong>MTB 84</strong></a> Allure et Performance<br/>
                            BP 774, route de l'isle<br/>
                            84250 Le Thor<br/>
                        </p>
                </div>
            </div>
            
            <div class="col-xs-3 thumbnail" style="background-color:#09120d;padding:15px">
                    <a href="http://www.carpolish.fr">
                        <img height=111 src='{{ app.request.basepath }}/img/partenaires/logo-partenaire-carpolish.jpg'/>
                    </a>

                    <div class='caption' style="color:#FFFFFF">
                        <h4>Sp&eacute;cialiste des produits de nettoyage automobile.</h4>

                        <p>
                            <a href="http://www.carpolish.fr"><strong>Carpolish</strong></a> Style-Auto<br/>
                        </p>
                    </div>
            </div>
            
            <div class="col-xs-3 thumbnail" style="background-color:#1d3277;padding:15px">
                    <a href="http://www.simplyconceptauto.com">
                        <img height=111 src='{{ app.request.basepath }}/img/partenaires/logo-partenaire-simply.jpg'/>
                    </a>

                    <div class='caption' style="color:#020202;background-color:#FFFFFF">
                        <h4>Mandataire automobile </h4><br/>
                        <!--Toutes MARQUES NEUFS et OCCASIONS-->
                        <p>
                            <a href="http://www.simplyconceptauto.com"><strong>SIMPLY CONCEPT AUTO</strong></a><br/>

                            99 Bvd de la 1&egrave;re division Blind&eacute;e<br/>
                            84000 AVIGNON
                        </p>
                    </div>
            </div>

            <div class="col-xs-3 thumbnail" style="background-color:#000000;padding:15px 15px 0 15px">
                    <a href="http://www.park-avenue-auto.com">
                        <img height=111 src='{{ app.request.basepath }}/img/partenaires/logo-partenaire-parkavenue.jpg'/>
                    </a>

                    <div class='caption' style="color:#FFFFFF;">
                        <h4>V&eacute;hicule d'occasion haut de gamme</h4>

                        <p>
                            <a href="http://www.park-avenue-auto.com"><strong>PARK AVENUE AUTO</strong></a><br/>
                            511 rte de l'Isle sur la Sorgue
                            84250 Le Thor
                        </p>
                    </div>
            </div>
        </ul>
    </div>

    <br/>

    <div class="row-fluid">
        <ul class="thumbnails">

            <div class="col-xs-3 thumbnail" style="background-color:#09120d;padding:15px">
                <a href="http://www.autoreflex.com/ga-espace-auto-l-isle-sur-la-sorgue-84-VVO4607.htm">
                    <img height=111 src='{{ app.request.basepath }}/img/partenaires/logo-partenaire-espaceauto.jpg'/>
                </a>

                <div class='caption' style="color:#FFFFFF">
                    <h4>Sp&eacute;cialiste 4X4, véhicules neufs et occasions. Véhicules particuliers, utilitaires.</h4>

                   <p>
                        <a href="http://www.autoreflex.com/ga-espace-auto-l-isle-sur-la-sorgue-84-VVO4607.htm">
                            <strong>GA Espace Auto</strong></a><br/>
                        25 Avenue des Ferrailles<br/>
                        84800 L'Isle-sur-la-Sorgue
                    </p>
                </div>
            </div>

            <div class="col-xs-3 thumbnail" style="background-color:#000000;padding:15px 15px 0 15px">
                <a href="http://pros.lacentrale.fr/C027726/">
                    <img style="height:180px;padding: 0 30px 0 30px" src='{{ app.request.basepath }}/img/partenaires/logo-partenaire-renault-thor.png'/>
                </a>

                    <div class='caption' style="color:#FFFFFF;">
                        <h4>Vente et r&eacute;paration automobile</h4>
                        <p>
                            <a href="http://pros.lacentrale.fr/C027726/"><strong>Renault Le Thor</strong></a><br/>
                            430 rte de l'Isle sur la Sorgue    
                            84250 Le Thor
                        </p>
                    </div>
            </div>

          <div class="col-xs-3 thumbnail" style="background-color:#000000;padding:15px 15px 0 15px">
                <a href="http://www.palaisdelauto.fr/">
                    <img style="padding:10px 30px 10px 30px" src='{{ app.request.basepath }}/img/partenaires/logo-patrtenaire-palais-auto.png'/>
                </a>

                <div class='caption' style="color:#FFFFFF;">
                    <h4>Votre Sp&eacute;cialiste occasions</h4>
                    <p>
                        <a href="http://www.palaisdelauto.fr/"><strong>Palais de l'auto</strong></a><br/>
                        105 allée Bellecour 
                        84200 Carpentras
                    </p>
                </div>
            </div>
            
        </ul>
    </div>

</div>

   <hr/>
    <div>
        {% include "footer.html" %}
    </div>

    {% endblock %}

